.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.currency-select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.title-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.info-currency-wrapper {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.info-box {
  display: table;
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

.info-row {
  display: table-row;
}

.info-title,
.info-value {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ccc;
}

a.info-value {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a.info-value:hover,
a.info-value:active {
  color: inherit;
  text-decoration: none;
}

.info-title {
  background-color: #f4f4f4;
  /* width: 50%; */
  text-align: left;
  font-weight: bold;
}

.info-value {
  background-color: #fff;
  text-align: right;
}
.currency-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 0;
}

.currency-value {
  font-weight: bold;
  font-size: 2rem;
  color: #333;
}

.currency-caption {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.market-info {
  display: flex;
  gap: 100px;
  width: 100%;
  text-align: end;
}

.market-info-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.market-info-value {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}
.description {
  margin-top: 10px;
}

.des-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 20px;
}
.description-detail {
  white-space: pre-wrap;
  margin-top: 10px;
}

.converter-wrapper {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-title {
  padding-left: 10px;
  width: 50%;
  font-weight: bold;
}

.input-group {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-group input {
  border: none;
  outline: none;
  padding: 20px;
  width: 100%;
}

.exchange-icon {
  margin: 0 20px;
  cursor: pointer;
}

.output-group {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.more-road-button {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}

.more-road-button:hover {
  background-color: #f2f2f2;
}
