.loader {
  margin: 0 auto;
  position: relative;
  width: 32px;
  height: 32px;
  text-indent: -9999em;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-image: initial;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1)
    rgba(0, 0, 0, 0.2);
  transform: translateZ(0px);
  animation: spin 1.1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
